/* Reset default margin and padding */
body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevent body scrollbars */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left; /* Reset the default center alignment */
}

.App main {
  flex-grow: 1; /* Allow main to take up all available space */
  overflow-y: auto; /* Allow content within main to scroll if needed */
}
